@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root {
    --bg-color: rgb(23, 23, 29);
    --transition-duration: 0.5s;
    --form-color: rgb(147, 147, 147);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100dvh;
    background-color: var(--bg-color);
    transition: background-color var(--transition-duration);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 50%;
    z-index: 1;
    min-width: 400px;
}

.form-container h3 {
    color: rgb(44, 143, 255);
    font-weight: bold;
}

form {
    color: white;
    margin-top: 1.2rem;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form .form-group label {
    font-size: .8rem;
    color: var(--form-color);
    margin-bottom: 5px;
    transition: all .5s ease;
}

form input,
button {
    border-radius: 3px;
    transition: all .5s ease;
}

form .form-group input {
    padding: 13px;
    background-color: #424242;
    color: white;
    border: 1px solid rgb(100, 100, 100);
    transition: border .5s ease;
}

form input:focus {
    border: 1px solid rgb(0, 119, 255);
}

form button {
    width: 100%;
    padding: 14px 13px 13px;
    background-color: rgb(46, 128, 222);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s background-color ease;
    margin-top: .8rem;
}

form button:hover {
    background-color: rgb(40, 91, 150);
}

svg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    min-height: 120px;
    min-width: 120px;
}

.themeSwitch {
    width: 45px;
    height: 45px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

.themeSwitch::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -12px;
    right: -14px;
    background-color: gold;
    border-radius: 100%;
    transition: all .4s ease;
}

.themeSwitch:hover::after {
    top: -8px;
    right: -10px;
}

.themeSwitchChanged::after {
    top: 0;
    right: 0;
}

/* .themeSwitchChanged:hover::after {
    top: 0;
    right: 0;
} */

.lightTheme {
    background-color: white;
    color: #000;
}

.lightTheme .form-container h3 {
    color: rgb(0, 68, 255);
}

.lightTheme .form-container label {
    color: #000;
}

.lightTheme .form-container input {
    background-color: transparent;
    color: black;
}


/* Error Styles */
.error-card {
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 3, 20, 0.736);
    margin-top: .5rem;
    margin-bottom: -.5rem;
    text-align: center;
    color: white;
    font-size: .9rem;
    border-radius: 2px;
}

form .form-group .error-border {
    border: 1px solid red;
}

form .form-group .input-error {
    width: 100%;
    margin-top: 1px;
    color: rgba(255, 0, 0, 0.832);
    font-size: .8rem;
    border-radius: 2px;
}