@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --bg-color: rgb(23, 23, 29);
    --transition-duration: 0.5s;
    --form-color: rgb(147, 147, 147);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

nav {
    width: 100%;
    padding: 10px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

nav ul li {
    position: relative;
    cursor: pointer;
    font-weight: 400;
    padding: 5px;
}

nav ul li::before {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    background-color: rgb(96, 176, 255);
    height: 2px;
    transition: width .5s ease;
}

nav ul li:hover::before {
    width: 80%;
}

a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}