@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root {
    --bg-color: rgb(23, 23, 29);
    --transition-duration: 0.5s;
    --form-color: rgb(147, 147, 147);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

nav {
    background-color: var(--bg-color);
    color: white;
}

.container {
    width: 100%;
    height: 100dvh;
    background-color: var(--bg-color);
    transition: background-color var(--transition-duration);
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center
}

.form-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 50%;
    z-index: 1;
}

.form-container h3 {
    color: rgb(44, 143, 255);
    font-weight: bold;
}

form {
    color: white;
    margin-top: 1.5rem;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

form .form-group label {
    font-size: .8rem;
    color: var(--form-color);
    margin-bottom: 5px;
}

form input,
button {
    border-radius: 3px;
}

form .form-group input {
    padding: 13px;
    margin-bottom: 1rem;
    background-color: #424242;
    color: white;
    border: 1px solid rgb(100, 100, 100);
}

form button {
    width: 100%;
    padding: 14px 13px 13px;
    background-color: rgb(36, 106, 186);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s background-color ease;
    margin-top: .8rem;
}

form button:hover {
    background-color: rgb(40, 91, 150);
}

svg {
    position: absolute;
    z-index: 0;
    bottom: 0;
}